* {
    box-sizing: border-box
}

html {
    font-size: 60%
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #333;
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}
select {
    font-size: 12px;
    border-radius: 0.4em;
}
.component-wrapper{
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 1320px;
    min-width: 350px;
}
.component-wrapper-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    background-color: #def1f4;
    margin: 2em 0;
    padding: 1em;
}
.component-wrapper-header h2{
    margin: 0;
}
.product{
    width: 25%;
    padding: 1em 1em 2em;
    position: relative;
    border: 1px solid #ccc;
    margin-left: -1px;
    margin-top: -1px;
}
.product-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    justify-content: center;
}
.product img {
    display: block;
    max-width: 100%;
    margin: auto;
   
}
.product span.promo {
    position: absolute;
    left: 1em;
    padding: 1em;
    bottom: 30%;
    color: #fff;
}
.product span.promo.sale {
    background-color: #cc3234;
}
.product span.promo.exclusive {
    background-color: #009900;
}
.product .description {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-between;
    margin: 0;
}
.product .description h3 {
    font-weight: bold;
    bottom: 0;
    font-size: 18px;
    margin: 0;
    max-width: 55%;
}
.product .description h3.price {
    font-size: 26px;
}
.error-message{
    color: red;
    font-weight: bold;
}
@media (max-width: 575.98px) {
    .product {
        width: 100%;
        margin: 0.5em;
    }
    #component-wrapper {
        min-width: auto;
        padding: 0
    }
}
@media (max-width: 576px)  {
    .product {
        width: 100%
    }
    #component-wrapper {
        min-width: auto;
        padding: 0
    }
}
@media (min-width: 576px) and (max-width: 767.98px)  {
    .product {
        width: 50%
    }
    #component-wrapper {
        min-width: auto;
        padding: 0
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .product {
        width: 33.33%
    }
}
